In [6]:
pwd

'/Users/fengtan'

In [56]:
myfile = open('myfile.txt')

In [61]:
with open('myfile.txt','w') as f:
    f.write('Hello World!')

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [64]:
myfile.seek(0)

0

In [65]:
myfile.readlines()

['Hello World!']

In [49]:
myfile.close()

In [50]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.readlines()

In [51]:
contents

[]

In [25]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [35]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [36]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [37]:
with open('my_new_file.txt',mode='a')as f:
    f.write('\nFOUR ON FOURTH')

In [38]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [41]:
with open('dhfjdkshfjdks.txt',mode='w') as f:
    f.write('I create this file!')

In [42]:
with open('dhfjdkshfjdks.txt',mode='r') as f:
    print(f.read())

I create this file!

In [67]:
not 1==2

True

In [76]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [86]:
for num in mylist: #Check for even
    if num%2==0:
        print(f'even:{num}')
    else:
        print(f'odd:{num}')

odd:1
even:2
odd:3
even:4
odd:5
even:6
odd:7
even:8
odd:9
even:10

In [89]:
list_sum = 0;
for num in mylist:
    list_sum = list_sum+num
print(list_sum)

55

In [90]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [91]:
for a,b,c in mylist:
    print(b)

2
5
8

In [99]:
d = {'k1':1,'k2':2,'k3':3}
for v in d.values():
    print(v)

1
2
3

In [101]:
x = 0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [102]:
x = 0

while x<5:
    print(x)
    x+=1
    if x == 2:
        break

0
1

In [105]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [106]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [116]:

word = 'abcde'

for index,letter in enumerate(word):
    print(f'{index},{letter}\n')

0,a

1,b

2,c

3,d

4,e

In [117]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [122]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [126]:
4 in [1,2,4]

True

In [127]:
'mykey' in {'mykey':345}

True

In [130]:
d = {'mykey':345}
345 in d.keys()

False

In [135]:
from random import shuffle

In [136]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [137]:
shuffle(mylist)

In [138]:
mylist

[6, 3, 8, 5, 2, 9, 10, 4, 7, 1]

In [139]:
from random import randint

In [140]:
randint(0,100)

58

In [141]:
result = input('Enter a number here: ')

Enter a number here: 50

'50'

In [154]:
st = 'Sam Print only the words that start with s in this sentence'

In [155]:
for word in st.split():
    if word[0]=='s' or word[0]=='S':
        print(word)

Sam
start
s
sentence

In [157]:
mylist = range(0,11,2)
for num in mylist:
    print(num)

0
2
4
6
8
10

In [161]:
mylist = [x for x in range(1,50) if x%3==0]
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [170]:
for num in range(1,101):
    if num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    elif num%3 == 0 and num%5 == 0:
        print('FizzBuzz')

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz

In [171]:
st = 'Creat a list of the first letter of every word in this string'

In [178]:
[num[0] for num in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [227]:
def pig_latin(word):
    first_letter = word[0]
    if first_letter in 'aeiou':
        pigword = word+'ay'
    else:
        pigword = word[1:]+first_letter+'ay'
    return pigword

In [228]:
pig_latin('word')

'ordway'

In [229]:
(1,2,'p')

(1, 2, 'p')

In [233]:
    a = 'wfsfsaf'
    t = 0
    w = ''
    while t<len(a):
        if t%2==0:
            w=w+a[t].lower()
        else:
            w=w+a[t].upper()
        t=t+1

'wFsFsAf'

In [234]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b
    pass

In [236]:
lesser_of_two_evens(2,5)

5

In [244]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False
    pass

In [245]:
makes_twenty(20,10)

True

In [246]:
makes_twenty(2,3)

False

In [ ]:
def old_macdonald(name):
    if len(name)<4:
        return False
    if len(name)>4:
        n1 = name[0].upper()
        n2 = name[3].upper()
        w = n1+name[1:3]+n2+name[3:]
        return w
    pass

In [ ]:
old_macdonald('macdonald')

In [322]:
def master_yoda(text):
    k = text.split()
    k = ' '.join(k[::-1])
    return k
    pass

In [323]:
master_yoda('I am home')

'home am I'

In [328]:
def almost_there(n):
    k1 = abs(n-100)
    k2 = abs(n-200)
    return k1 <=10 or k2<=10
    pass

In [329]:
almost_there(109)

True

In [ ]:
def has_33(nums):
    t = 0
    for n in nums:
        if n == 3 and nums[t+1]==3:
            return True
        else:
            if t+2==len(nums):
                return False
                break
        t+=1
    pass

In [ ]:
has_33([1,3,1,3])

In [ ]:
def paper_doll(text):
    t = [k*3 for k in text]
    return ''.join(t)
    pass

In [ ]:
paper_doll('hello')

In [ ]:
def summer_69(arr):
    k = 0
    c = True
    for t in arr:
        if t == 6:
            c = False
        elif t == 9:
            c = True
            t = 0
        else:
            if c == True:
                k = k+t
    return k
    pass

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

In [380]:
summer_69([1,3,4])

8

In [381]:
def syp_game(nums):
    code = p[0,0,7,'s']
    for num in nums:
        if sum == code[0]:
            code.pop(0)
    return len(code)==1

In [22]:
def count_primes(num):
    if num < 2:
        return 0
    prime = [2]
    x = 3
    while x<=num:
        for y in range(3,x,2):
            if x%y == 0:
                x+=2
                break
        else:
            prime.append(x)
            x+=2
    print(prime)
    return len(prime)
    pass

In [25]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [26]:
def square(num):
    return num**2

In [34]:
my_nums = [1,2,3,4,5,6]

In [35]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25
36

In [33]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [37]:
name = ['Andy','Eve','Sally']

In [38]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [39]:
list(map(splicer,name))

['EVEN', 'E', 'S']

In [41]:
def check_even(num):
    return num%2 == 0

In [56]:
my_nums = [1,2,3,4,5,6]

In [57]:
list(filter(check_even,my_nums))

[2, 4, 6]

In [59]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25, 36]

In [60]:
list(filter(lambda num:num%2==0, my_nums))

[2, 4, 6]

In [61]:
name

['Andy', 'Eve', 'Sally']

In [63]:
list(map(lambda x:x[::-1], name))

['ydnA', 'evE', 'yllaS']

In [64]:
 's'.isupper()

False

In [67]:
k = [1,3,5,6,7,2,2,2,4,5,1,6]
w = list(set(k))

[1, 2, 3, 4, 5, 6, 7]